

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled,
#header.header-pages {
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 7px 0;

      margin: 0px 0;
    max-height: 40px;
    width: 10rem;
}

.back-to-top {
  position: fixed;
  display: none;
  background: #007bff;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

.main-pages {
  margin-top: 60px;
}

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: rgb(0,0,0);
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color:  rgb(232, 9, 161);
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #004289;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #007bff;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(19, 39, 57, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #74b5fc;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #004289;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/* intro */

@import url('overwrite.css');
@import url('headerfix.css');
/* ====================================== */

.clear { clear:both; }
.video-container,		{ position:relative; margin:0 0 15px 0;	padding-bottom:51%; padding-top:30px; height:0; overflow:hidden; border:none; }
.video-container iframe,
.video-container object,
.video-container embed 					{ position:absolute; top:0; left:0; width:100%; height:100%; }


iframe {
	border:none;
}

img.max-img {
	max-width:100%;
	height:auto;
}

.row {
	margin-bottom:30px;
}

header .cbp-af-header .row {
	margin-bottom:0;
}

.left {
	float:left;
}
img.left {
	float:left;
	margin:0 10px 10px 0;
}
/* custom template style */
.well {
	overflow:hidden;
}


.well.well-primary {
	background: #009cea;
	color:#fff;
}
.well.well-success {
	background: #7cbb00;
	color:#fff;
}
.well.well-warning {
	background: #bcab37;
	color:#fff;
}
.well.well-danger {
	background: #ec4f13;
	color:#fff;
}




/* home */
#intro h2 {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -2px;
}


/* ================ */

/* main content */

#maincontent {
	z-index:1000;
	margin-top:0px;
	padding:20px 0 0 0;
}

#maincontent .page-header h3 {
	font-weight:700;
}
/* intro */



section#intro{
	max-width: 100%;
	background:#f5f5f5;
	height:auto;
	margin: 0 auto;
	margin-top:80px;
	padding: 0;
	border-bottom:1px solid #e9e9e9;
	padding-top:60px;
	margin-bottom:40px;
}
section#servicesNew {
  max-width: 100%;
  background:#f5f5f5;
  height:auto;
  margin: 0 auto;
  margin-top:80px;
  padding: 0;
  border-bottom:1px solid #e9e9e9;
  padding-top:60px;

}


.line {
	background:url(../img/line.jpg) top repeat-x;
	height:10px;
}

section#bottom {
	width: 100%;
	margin: 0 auto;
	margin-top:20px;
	padding: 0;
	padding-top:30px;
}

section#subintro {
	width: 100%;
	background:#f5f5f5;
	color: #fff;
	height:auto;
	padding: 130px 0 0 0;
	margin-bottom:30px;
}

#subintro ul.breadcrumb {
	float:right;
	background:none;
}


/* --- features ----*/
.features {
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.features_content h3 {
	letter-spacing:-2px;
	font-weight:700;
}

.features .icon i {
	position: absolute;
	top: 0px;
}
.features .features_content {
	padding-left: 150px;
}

.highlight {
	color:#fff;
	padding:2px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.highlight.primary {
	background: rgb(232, 9, 161);
}


/*============= font awesome icons ============*/
/* icon styles */
a [class^="icon-"] {
	cursor:pointer;
}

[class^="icon-"].active {
	color: rgb(232, 9, 161);
}
[class^="icon-"].active:hover {
	background:  rgb(232, 9, 161);
}
.icon-1x, .icon-2x, .icon-3x, .icon-4x, .icon-5x {
	text-align: center;
}

.icon-1x {
	font-size: 17px !important;
	width: 40px !important;
	height: 40px !important;
	line-height: 40px !important;
}

.icon-2x {
	font-size: 26px !important;
	width: 60px !important;
	height: 60px !important;
	line-height: 60px !important;
}

.icon-3x {
	font-size: 39px !important;
	width: 80px !important;
	height: 80px !important;
	line-height: 80px !important;
}

.icon-4x {
	font-size: 52px !important;
	width: 100px !important;
	height: 100px !important;
	line-height: 100px !important;
}

.icon-5x {
	font-size: 65px !important;
	width: 120px !important;
	height: 120px !important;
	line-height: 120px !important;
}

i.icon-bg-light,i.icon-bg-dark {
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
}

i.icon-bg-light {
	color: rgb(232, 9, 161);
	background: #f5f5f5;
}

i.icon-bg-light:hover {
	color:  rgb(232, 9, 161);
}

i.icon-bg-dark {
	color: #fefefe;
	background: #333;
}

.icon-4x, .icon-5x, .icon-6x, .icon-7x, .icon-8x, .icon-9x, .icon-10x {
	border-bottom-width: 3px !important;
}

.icon-circled {
	border-radius: 1000px !important; /* 146px 40px 100px 118px */
	-moz-border-radius: 1000px !important;
	-webkit-border-radius: 1000px !important;
	-o-border-radius: 1000px !important;
	-ms-border-radius: 1000px !important;
}

.blank10 {
  margin:10px 0 10px 0;
  width:100%;
  height:1px;
}

/* cta box */




.cta-box {

	overflow:hidden;
	margin-bottom:30px;
}

.cta-text {
	float:left;
	padding: 30px 20px 20px 20px;
}

.cta-text h2 {
	font-weight:700;
	letter-spacing:-2px;
	font-size:36px;
}
/* .cta-box .cta {
	float:right;
	padding: 30px 20px 20px 20px;
} */

.btn-rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.cta-box .cta input[type="file"]{
    display: none;

}

.cta-box .cta input[type="button"]{
    display: none;

}.custom-upload{
    border:1px solid #666;
    color:#fff!important;
    padding:1em;
    background:#000;
    border-radius:4px;
    cursor:pointer;
}


#table-wrapper {
  position:relative;
    border: 1px solid black;

}
#table-scroll {
  height:700px;
  overflow:auto;
  margin-top:20px;
background: pink;
}

#table_data table {
  border-collapse: collapse;

}

#table_data th, td {
  text-align: left;
    border: 1px solid black;
}




#table_data td, #table_data th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table_data tr:nth-child(even){background-color: #f2f2f2;}

#table_data tr:hover {background-color: #ddd;}


#table_data tr:nth-child(even)
{background-color: #f2f2f2;}

#table_data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.scrollit {
    overflow:scroll;
    height:700px;
}

.editableTable {
   border:solid 1px;
   width:100%;
    }
    .editableTable td {
       border:solid 1px;
       }
       .editableTable .cellEditing
       {
         padding: 0;
          }
          .editableTable .cellEditing input[type=text]{
             width:100%; border:0; background-color:rgb(255,253,210);
           }
           /*--------------------------------------------------------------
           # Footer
           --------------------------------------------------------------*/

           #footer {
             background: rgba(127, 137, 161, 0.3);
             padding: 0 0 30px 0;
             color: #eee;
             font-size: 14px;
           }

           #footer .footer-top {
             background: rgba(127, 137, 161, 0.3);
             padding: 60px 0 30px 0;
           }

           #footer .footer-top .footer-info {
             margin-bottom: 30px;
           }

           #footer .footer-top .footer-info h3 {
             font-size: 34px;
             margin: 0 0 20px 0;
             padding: 2px 0 2px 0;
             line-height: 1;
             font-family: "Montserrat", sans-serif;
             color: #fff;
             font-weight: 400;
             letter-spacing: 3px;
             text-transform: uppercase;
           }

           #footer .footer-top .footer-info p {
             font-size: 13px;
             line-height: 24px;
             margin-bottom: 0;
             font-family: "Montserrat", sans-serif;
             color: #ecf5ff;
           }

           #footer .footer-top .social-links a {
             font-size: 18px;
             display: inline-block;
             background: #007bff;
             color: #fff;
             line-height: 1;
             padding: 8px 0;
             margin-right: 4px;
             border-radius: 50%;
             text-align: center;
             width: 36px;
             height: 36px;
             transition: 0.3s;
           }

           #footer .footer-top .social-links a:hover {
             background: #0067d5;
             color: #fff;
           }

           #footer .footer-top h4 {
             font-size: 14px;
             font-weight: bold;
             color: #fff;
             text-transform: uppercase;
             position: relative;
             padding-bottom: 10px;
           }

           #footer .footer-top .footer-links {
             margin-bottom: 30px;
           }

           #footer .footer-top .footer-links ul {
             list-style: none;
             padding: 0;
             margin: 0;
           }

           #footer .footer-top .footer-links ul li {
             padding: 8px 0;
           }

           #footer .footer-top .footer-links ul li:first-child {
             padding-top: 0;
           }

           #footer .footer-top .footer-links ul a {
             color: #ecf5ff;
           }

           #footer .footer-top .footer-links ul a:hover {
             color: #74b5fc;
           }

           #footer .footer-top .footer-contact {
             margin-bottom: 30px;
           }

           #footer .footer-top .footer-contact p {
             line-height: 26px;
           }

           #footer .footer-top .footer-newsletter {
             margin-bottom: 30px;
           }

           #footer .footer-top .footer-newsletter input[type="email"] {
             border: 0;
             padding: 6px 8px;
             width: 65%;
           }

           #footer .footer-top .footer-newsletter input[type="submit"] {
             background: #007bff;
             border: 0;
             width: 35%;
             padding: 6px 0;
             text-align: center;
             color: #fff;
             transition: 0.3s;
             cursor: pointer;
           }

           #footer .footer-top .footer-newsletter input[type="submit"]:hover {
             background: #0062cc;
           }

           #footer .copyright {
             text-align: center;
             padding-top: 30px;
           }

           #footer .credits {
             text-align: center;
             font-size: 13px;
             color: #f1f7ff;
           }

           #footer .credits a {
             color: #bfddfe;
           }

           #footer .credits a:hover {
             color: #f1f7ff;
           }


           @media (min-width: 992px) {
             #testimonials .testimonial-item p {
               width: 80%;
             }
           }

           @media (max-width: 991px) {
             #header {
               height: 60px;
               padding: 10px 0;
             }

             #header .logo h1 {
               font-size: 28px;
               padding: 8px 0;
             }

             #intro {
               padding: 140px 0 60px 0;
             }

             #intro .intro-img {
               width: 80%;
               float: none;
               margin: 0 auto 25px auto;
             }

             #intro .intro-info {
               width: 80%;
               float: none;
               margin: auto;
               text-align: center;
             }

             #why-us .card {
               margin: 0;
             }
           }

           @media (max-width: 768px) {
             .back-to-top {
               bottom: 15px;
             }
           }

           @media (max-width: 767px) {
             #intro .intro-info {
               width: 100%;
             }

             #intro .intro-info h2 {
               font-size: 34px;
               margin-bottom: 30px;
             }

             .section-header p {
               width: 100%;
             }

             #testimonials .testimonial-item {
               text-align: center;
             }

             #testimonials .testimonial-item .testimonial-img {
               float: none;
               margin: auto;
             }

             #testimonials .testimonial-item h3,
             #testimonials .testimonial-item h4,
             #testimonials .testimonial-item p {
               margin-left: 0;
             }
           }

           @media (max-width: 574px) {
             #intro {
               padding: 100px 0 20px 0;
             }
           }
