body, button, input, select, optgroup, textarea {
	color: #333;
	font-family: 'Synthesis', sans-serif !important;
	font-size: 15px !important;
	line-height: 1.2 !important;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 /* padding-bottom: 100px; /* height of your footer */ */
}



/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #00FEFF;;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
/* .wrapper {
    display: flex;
    /* width: 100%; */
    /* align-items: stretch;
    perspective: 1500px; */
/* }  */


/* */


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* #sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
} */

svg {width: 350px; height: 350px;}
svg path {fill: #000 !important;}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 105px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled,
#header.header-pages {
  height: 95px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo img
  {
    padding: 0;
    margin: 7px 0;
    margin: 8px 29px;
    max-height: 50px;

    max-height: 45px;
    width: 130px;
}

.main-pages {
  margin-top: 60px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0,0.70);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.custom_breadcrumb .breadcrumb{
background: #fff;

}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 100%
  position: relative;
background: rgba(0,254, 255, 0.8);
  /* color: rgba(0,254, 255, 0.8); */
   /* background-image: url("../images/intro-bg.jpg") center bottom no-repeat;  */
  /* background-size: cover; */
  padding: 200px 0 120px 0;
}

#intro .caption {
    font-size: 50px;
    font-weight: 700;
    color: #000;
    text-align: center;
    font-family: 'Publico Headline Web', sans-serif;
    margin: 15px 0;
  }

#intro .intro-img {
  width: 50%;
  float: right;
}

#intro .tagline {

  margin: 0 0 25px !important;
      font-size: 34px !important;
      color: #000 !important;
      font-family: 'Synthesis', sans-serif !important;
      text-align: center;
}

#intro .intro-info h2 {
  /*color: #fff;  */
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}

#intro .intro-info h2 span {
 /* color: #74b5fc;   */
  color:rgb(232, 9, 161);
  text-decoration: underline;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
     box-shadow: 2px 7px #888888;

/*  color: #fff;    */
}

#intro .intro-info .btn-get-started {

  border: 1px solid;
    border-color: #000;
    color:#000;
}

#intro .intro-info .btn-get-started:hover {
  background: #000;
 /* border-color: #fff;   */
  color: #fff;

}

#intro .intro-info .btn-services {
  border: 1px solid;
   border-color: #000;
    color:#000;
}

#intro .intro-info .btn-services:hover {
  background: #000;
  color: #fff;

}

/*--------------------------------------------------------------
# Nav Bar
--------------------------------------------------------------*/
.nav-tab > li > a {

    padding: 10px 58px;
    display: block;
    font-size: 16px;
    font-family: 'Synthesis', sans-serif !important;
    font-weight: 700;
    color: #006AA5;
    border: 1px solid #ccc;
    padding: 10px 58px;
    display: block;
  }

	.nav-tab .nav-link.active,
	.nav-tab .nav-item.show .nav-link {


	      background: #006AA5;
	border-color: #006AA5;
	color: #fff;
	text-decoration: none;
	}

	.nav-tab .nav-link:hover{
	    background: #006AA5;
	    border-color: #006AA5;
	    color: #fff;
	    text-decoration: none;
	}

/* .nav-tabs>.nav-item>.nav-link.active,   .nav-tabs>.nav-item>.nav-link:focus,  .nav-tabs>.nav-item>.nav-link:hover

 {
	 border-bottom: 2px solid #5cfeea;
	 font-size: 16px;
    font-family: 'Synthesis', sans-serif !important;
    font-weight: 700;
    color: #006AA5;
    border: 1px solid #ccc;
    padding: 10px 58px;
    display: block;
 } */

 .nav-tabs li.active:before {
    bottom: -41px;
    border-color: transparent transparent #ccc transparent;
    border-width: 25px;
}

.nav-tabs li.active:before, .nav-tabs li.active:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	right: 0;
	bottom: -42px;
	left: 0;
	margin: 0 auto;
	z-index: 3;
}
.nav-tabs li.active:before {
	bottom: -41px;
	border-color: transparent transparent #ccc transparent;
	border-width: 25px;
}
.nav-tabs li .nav-link.active:after {
	border-color: transparent transparent #fff transparent;
	border-width: 24px;
}
.nav-tabs li .nav-link:hover, .nav-tabs li .nav-link.active {
	background: #006AA5;
	border-color: #006AA5;
	color: #fff;
	text-decoration: none;
}
/*
.breadcrumb li:first-child {
  -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
} */

/* @media (max-width: 408px) {
  .breadcrumb li {
    display: inline-block;
    background: white;
    padding: 5px 30px 5px 30px;
    position: relative;
    min-width:40%;
    border:1px solid black;
    text-decoration: none;
    -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
    padding-left: 20px;
    margin-right: -13px;
  }
  .breadcrumb li#last {
    -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
    padding-left: 20px;
  }
      .breadcrumb {
        background: none;
         -webkit-filter: drop-shadow(1px 1px 0px black)
    drop-shadow(1px -1px 0px black)
    drop-shadow(-1px 1px 0px black)
    drop-shadow(-1px -1px 0px black);
  filter: drop-shadow(1px 1px 0px black)
    drop-shadow(1px -1px 0px black)
    drop-shadow(-1px 1px 0px black)
    drop-shadow(-1px -1px 0px black);
        }
}
 */

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: rgb(0,0,0);
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color:  rgb(232, 9, 161);
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #004289;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #007bff;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(19, 39, 57, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #74b5fc;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #004289;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 8px;
  color: #556877;
  width: 50%;
}

/* Section with background
--------------------------------*/

.section-bg {
  background: #ecf5ff;
}


a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}
.comment {

  font-size: 17px;
  line-height: 1.7;

    height: 100px;
		margin-bottom: 60px;
}

.tab-pane .overlay {
	padding: 30px 30px;
	height: 100%;
	background: rgba(54, 59, 45, 0.3);
}

.tab-pane .story-link .overlay:before {
	background: rgba(0, 170, 232, 0.75);
}

.tab-pane .story-link:hover {
	text-decoration: none;
	background:rgba(0, 170, 232, 0.75); 
}

.tab-pane .story-link .overlay:hover {
    transform: translateY(0)


}


/* About Us Section
--------------------------------*/

#about {
  background: #fff;
  padding: 60px 0;
}

#about .about-container .background {
  margin: 20px 0;
}

#about .about-container .content {
  background: #fff;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid rgb(232, 9, 161);
  transition: all 0.3s ease-in-out;
}

#about .about-container .icon-box .icon i {
  color:rgb(232, 9, 161);
  font-size: 24px;
}

#about .about-container .icon-box:hover .icon {
  background: rgb(232, 9, 161);
}

#about .about-container .icon-box:hover .icon i {
  color: #fff;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#about .about-container .icon-box .title a {
  color: #283d50;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#about .about-extra {
  padding-top: 60px;
}

#about .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

 /*breadcrumb
 -----------------------------*/
 #filter {
    padding: 10px 0 0px !important;
    background: #fff;

    position: relative;
}


/* Services Section
--------------------------------*/

#services {
  padding: 95px 0 40px 0;
  margin-top: 19px;
background: #f2f2f2;
}

#services .card {
  padding: 0px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

#services .card:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

#services .icon {
  position: absolute;
  left: -10px;
  top: calc(50% - 32px);
}

#services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

#services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .card:hover .title a {
  color: #007bff;
}

#services .card-style {
height:calc(100% - 50px);
border-top-right-radius: calc(100% - 116px);
}

.tip {
		background: #fff;
		border: 1px solid #ccc;
		padding: 10px;
		font-size: 1.2em;
		position: relative;
		width: 200px;
	}

	.tip:before {
		position: absolute;
		top: -14px;
		left: 98px;
		display: inline-block;
		border-right: 14px solid transparent;
		border-bottom: 14px solid #fff;
		border-left: 14px solid transparent;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		content: '';
	}

	.tip:after {
		position: absolute;
		top: -12px;
		left: 99px;
		display: inline-block;
		border-right: 12px solid transparent;
		border-bottom: 12px solid #fff;
		border-left: 12px solid transparent;
		content: '';
	}


#services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
  height:60px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.vn-site-footer {
    display: block !important;
}

.site-footer .contact-form {
    background: #252525;
    width: 100%;
    padding: 50px 80px;
}

.site-footer .contact-form, .site-footer .contact-sec {
	display: flex;
	align-items: center;
}

.vn-site-footer .contact-form .col-lg-12, .vn-site-footer .contact-form .col-lg-12 .contain {
    padding: 0;
}

.footer-menu {
    display: block;
    margin: 0;
}

.vn-site-footer .site-title {
    margin: 0;
}

#colophons .site-title img {
    width: 140px;
    margin-bottom: 6px;
}

.footer-menu .site-branding img {
    padding: 20px 15px;
}

.site-branding img {
    max-width: 140px;
    padding: 15px 0;
}

.site-footer .soc {
    margin: 15px 0 0;
    padding-inline-start: 0px;

}

.footer-menu ul li {
    list-style: none;
    text-align: left;
}
.soc li {
    display: inline-block;
    padding: 0 2% 0 0;
}
.footer-menu ul li a {
    line-height: 2;
    color: #666;
}
.footer-menu ul li a:hover {
	 color: #00FEFF;
 }

.vn-site-footer .privacy-links {
    float: left;
}

.vn-site-footer .privacy-links li {
    display: inline-block;
    margin-right: 10px;
    color: #666;
}

.vn-site-footer .privacy-links li:first-child a {
    margin-right: 10px;
}

/* #services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
} */
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #header {
    height: 60px;
    padding: 10px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #intro {
    padding: 140px 0 60px 0;
  }

  #intro .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }

  #intro .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }

  #why-us .card {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

@media (max-width: 767px) {
  #intro .intro-info {
    width: 100%;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

  #testimonials .testimonial-item {
    text-align: center;
  }

  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimonials .testimonial-item h3,
  #testimonials .testimonial-item h4,
  #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

@media (max-width: 574px) {
  #intro {
    padding: 100px 0 20px 0;
  }
}
