{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


  <meta charset="utf-8">
  <title>Home</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <script src="{% static 'lib/PapaParse/papaparse.js' %}"></script>
  <script src="{% static 'lib/PapaParse/papaparse.min.js'%}"></script>
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="{% static 'images/favicon.png'%}" rel="icon">
  <link href="{% static 'images/apple-touch-icon.png'%}" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_updated16.css' %}">
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap-responsive.css' %}">


  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js'%}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js'%}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'js/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>



</head>
<script>
$(document).ready(function() {
debugger;
	var showChar = 120;
	var ellipsestext = "...";
	var moretext = "more";
	var lesstext = "less";
	$('.more').each(function() {
    debugger;
		var content = $(this).html();

		if(content.length > showChar) {

			var c = content.substr(0, showChar);
			var h = content.substr(showChar, content.length - showChar);

			var html = c + '<span class="morecontent"><span>' + h + '</span></span>';

			$(this).html(html);
		}

	});

	$(".morelink").click(function(e){

debugger;
    e.preventDefault();
    // var href = '#myModal';
    var myHeading = "<p>"+$(this).prev()[0].innerHTML+$(this).prev()[0].getElementsByTagName('span')[1].innerHTML+"</p>";
    var x = new Date();
    $("#modalBody").html(myHeading);

    var modalTitle=$(this).parent().parent().prev().text()
    $("#modalTitle").html(modalTitle)
    $('#myModal').modal('show');

	});


});

function openNav() {
document.getElementById("sidebar").style.width = "350px";

}

function closeNav() {
document.getElementById("sidebar").style.width = "0";

}
</script>

  <body>

  <!--==========================
  Header
  ============================-->

  <header id="header" class="fixed-top ">
    <!-- <div class="container"> -->
     <div class="logo float-left ">
         <a href="#intro" class="scrollto"><img src="{% static 'images/logos.png'  %}"  alt="" class="img-fluid "></a>
    </div>
         <span style ="margin-bottom:0px"><h4 style ="margin-bottom:0px">
              The digital innovation hub within Virtusa</h4></span>

      <nav class="main-nav  d-none d-lg-block " style="margin-left:168px;">
        <ul>
          <li
          {% if '/' == request.path %}
              class= "nav-item active"
          {% else %}
             class= "nav-item "
          {% endif %}
                   >
            <a href ="#Home" >Home</a>
          <i ></i></li>
          <li>
          <a href="#about">Our Practices</a></li>
          <li
          {% if '/services/' == request.path %}
              class= "nav-item active"
          {% else %}
             class= "nav-item "
          {% endif %}

          >
          <a href="{%url 'services' %}">Solutions</a></li>
          <li><a href="#portfolio">Innovation</a></li>

        </ul>
      </nav>




    <div class="wrapper">
       <div class="container-fluid ">
          <button type="button" id="sidebarCollapse" class="btn btn-dark float-right" onclick="openNav()">
                <i class="fa fa-align-left"></i>
                    <span></span>
                        </button>
                         </div>

                <div id="sidebar" class="sidebar">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

  <div class="list-group panel">
            {%  for item in models %}
                  <!-- <a href="#">{{item.name}}</a> -->
               <a href="#menu{{item.id}}" class=" collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><span class="hidden-sm-down">{{item.name}}</span> </a>
                    <div class="collapse" id="menu{{item.id}}" style="margin-left:33px">
                       {%  for items in item.cats %}
                         <a href="#menu1sub{{items.id}}"  data-toggle="collapse" aria-expanded="false"> {{ items.name}}</a>
                                   <div class="collapse" id="menu1sub{{items.id}}" style="margin-left:33px" >
                                        {%  for item_new in items.category.all %}
                                                 <a href="{%url 'model'%}?model={{ item_new.name }}" data-parent="#menu1sub1{{items.id}}">{{ item_new.name}}</a>
                                        {%endfor%}
                               <!-- <div class="collapse"> -->
                         </div>
                    {%endfor%}
                     </div>
                {%endfor%}

</div>

  </header>


  </div>

  <div class="overlay d-flex align-items-center" style="background: url('{% static 'images/speed-xlabs.png' %}') no-repeat; background-size: cover;  ">
  <section id="intro" class="clearfix">

    <div class="container">
      <div class="intro-img">
        <img src="" alt="" class="img-fluid">
      </div>

      <div class="intro-info">

        <h1 class="title">We provide solutions for your business!</h1>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>

        </div>

      </div>
   </div>

  </section>
</div>
   <!-- #intro -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
          <header class="section-header">
            <h2>About Us</h2>
            <p style="text-align: center;"><strong>xLabs: The digital innovation hub within Virtusa.</strong></p>

          </header>
            <div class=" about-container">
                  <p>
                   Virtusa Corporation is a global provider of Digital Buisness Transformation, Digital Engineering and Information Technology(IT) outsourcing services that accelerates our client's journey to Digital Future.
                   We work with clients to accelerate and optimize their tech-enabled innovation programs, focusing on three stages
                  </p>
             </div>
                  <div class="row vn-row">
                    <div class="vn-service-tile">
                      <div class="vn-tile-coll text-center vn-tile-coll-even">
                         <a  class="vn-service-link">
                              <h3>Explore</h3>
                                 <p class="hide-content">Horizon scanning, to identify relevant emerging technologies.Identify and track emerging technologies that are relevant and disruptive.</p>
                               </a>
                        </div>

                      <div class="vn-tile-coll text-center vn-tile-coll-even">
                         <a  class="vn-service-link">
                           <h3>Experiment</h3>
                             <p class="hide-content">Use a design thinking tool to ideate and prototype potential solutions.Focus on key tech and evaluate how your business could benefit.</p>
                            </a>
                          </div>

                       <div class="vn-tile-coll text-center vn-tile-coll-even">
                          <a class="vn-service-link">
                            <h3>Exploit</h3>
                            <p class="hide-content">Assure that good ideas are implemented and generate value.Transition prototypes into production and measure value delivery.</p>
                           </a>
                         </div>
                       </div>
                     </div>


                  <!-- <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-search"></i></div>
                    <h4 class="title"><a href="">Explore</a></h4>
                    <p class="description">Horizon scanning, to identify relevant emerging technologies.Identify and track emerging technologies that are relevant and disruptive.</p>
                  </div>

                  <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-flask"></i></div>
                    <h4 class="title"><a href="">Experiment</a></h4>
                    <p class="description">Use a design thinking tool to ideate and prototype potential solutions.Focus on key tech and evaluate how your business could benefit.</p>
                  </div>

                 <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                    <h4 class="title"><a href="">Exploit</a></h4>
                    <p class="description">Assure that good ideas are implemented and generate value.Transition prototypes into production and measure value delivery.</p>
                </div> -->
             <!-- </div> -->

             <!-- <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                <img src="static/images/intro.png" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="static/images/about-extra-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <p>
            Virtusa xLabs is a unique blend of passionate designers and digital engineers.
            We believe success is all about getting something in the hands of a client. We have helped clients across the globe create new digital-native business models and services in collaboration with disruptive FinTechs, HealthTechs, TelecomTechs, and InsureTechs. Applying first principles, we build our solutions from scratch. Our success relies on our clients' satisfaction.</h4>
          </p>
          </div>
        </div>
      </div> -->
    </section>

    <!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h2>Services</h2>
          <p>We believe success is all about getting something in the hands of a client. We have helped clients across the globe create new digital-native business models and services in collaboration with disruptive FinTechs, HealthTechs, TelecomTechs, and InsureTechs..</p>
        </header>

        <div class="row">
            {% if models %}
               {%  for item in models %}



               <div class="col-md-6 col-lg-4 mb-4 wow bounceInUp " data-wow-duration="1.4s">
                <div class="card mb-3 h-85 ">
                  <div class="card-block box">
                      <a href="{%url 'services'%}?cat={{item.id}}">
                        <div class="thumbnail">
                     <img class="card-img-top img-fluid card-style " src="{{item.image.url}}" alt="">
                     <div class="img__description_layer">

                           <p class="img__description"> Fortifying your business with blockchain solutions</p>


                       </div>
                   </div>
                       </a>
                         <!-- <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #ff689b;"></i></div> -->
                     <div class="contain">
                         <h2 class="title">{{item.name}}</h2>
                         <p class="card-text description comment more">{{item.summary}}</p>

                         <span class="morelink read-more-small">Read More</span>

</div>


                     </div>



                     <!-- <div class="card-footer">
                       <small class="text-muted">
                          Updated on <cite title="Source Title">{{item.time}}</cite>
                       </small>

                    </div> -->
                 </div>
               </div>

               {% endfor %}
               {% else %}
               <div class="col-md-12">
                   <p>No Models</p>

               </div>
                 {% endif %}

    </div>


      </div>
    </section>

    <div class="modal fade" id="myModal" role="dialog">
       <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id ="modalTitle"></h4>
        </div>
        <div class="modal-body" id ="modalBody">
            <!-- <p>Some text in the modal.</p> -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
        </div>
     </div>
  </div>
</div>
    <!-- #services -->
    <!--==========================
    Footer
    ============================-->
     <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
     <!--==========================
       Footer
     ============================-->
     <!-- <footer id="footer">


       <div class="container">
         <div class="copyright">
           &copy; Copyright <strong>VirtusaCorp</strong>. All Rights Reserved
         </div>
         <div class="credits">

           Designed by <a href="https://www.virtusa.com">xLabs</a>
              </div>
       <div class="col-md-6 col-sm-6">
         <ul class="soc">
           <li>
             <a class="soc-facebook" href="https://www.facebook.com/VirtusaCorp" target="_blank">
                <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
              </a>
            </li>
            <li>
                  <a class="soc-twitter" href="https://twitter.com/VirtusaCorp" target="_blank">
                     <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                   </a>
                 </li>
                 <li>
                   <a class="soc-linkedin" href="https://www.linkedin.com/companies/virtusa" target="_blank">
                      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                     </a>
                   </li>
                   <li>
                     <a class="soc-instagram" href="https://www.instagram.com/virtusacorp/" target="_blank">
                       <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a class="soc-youtube" href="https://www.youtube.com/user/VirtusaCorporation" target="_blank">
                         <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>

       </div>
     </footer><!-->
<footer id="colophons" class="site-footer vn-site-footer">
     <div class="contact-form ">
       <div class="container-fluid">
         <div class="row vn-row">
         <div class="col-lg-12">
             <div class="contain">
           <div class="footer-menu">
            <div class="vn-row footer-logo text-left">
          <div class="site-branding">
<p class="site-title"> <a href="https://corpweb.virtusa.com" rel="home">
<img src="https://mhgbtcuwzn-2-flywheel.netdna-ssl.com/wp-content/uploads/2019/08/virtusa-footer-logo.png" class="site-logo" alt="Virtusa Logo"> </a>
</p>
</div>
</div>
<div class="row vn-row" style="margin:0 !important;">
<div class="col-md-6 col-sm-6">
<ul class="soc">
<li><a class="soc-facebook" href="https://www.facebook.com/VirtusaCorp" target="_blank"> <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i> </a></li>
<li><a class="soc-twitter" href="https://twitter.com/VirtusaCorp" target="_blank"> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i> </a></li>
<li><a class="soc-linkedin" href="https://www.linkedin.com/companies/virtusa" target="_blank"> <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> </a></li>
<li><a class="soc-instagram" href="https://www.instagram.com/virtusacorp/" target="_blank"> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i> </a></li>
<li><a class="soc-youtube" href="https://www.youtube.com/user/VirtusaCorporation" target="_blank"> <i class="fa fa-youtube fa-2x" aria-hidden="true"></i> </a></li>
</ul></div>
<div class="col-md-3 hide-mob"></div>
<div class="col-md-3 col-sm-6">
<ul class="en privacy-links">
<li><a href="/corporate-citizenship-compliance/">Compliance</a>|</li>
<li><a href="/privacy-statement/">Privacy</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>

  </body>
  </html>
