{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


  <meta charset="utf-8">
  <title>{{model.name}}</title>
  <!-- <meta id="my-data" data-name="" data-other={{model.inputs_csv}}> -->
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <script src="{% static 'lib/PapaParse/papaparse.js' %}"></script>
  <script src="{% static 'lib/PapaParse/papaparse.min.js'%}"></script>
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<!--
    <script  src="{% static 'js/jquery-1.11.3.min.js' %}"></script> -->
  <!-- <script  src="{% static 'lib/pptX/pptxjs.min.js' %}"></script> -->




  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="{% static 'images/favicon.png'%}" rel="icon">
  <link href="{% static 'images/apple-touch-icon.png'%}" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/pptxjs.css' %}"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/risk_quantification12.css' %}">
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap-responsive.css' %}">


  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
    <!-- <script  src="{% static 'js/jszip.min.js' %}"></script>
  <script  src="{% static 'js/filereader.js' %}"></script>

  <script  src="{% static 'js/d3.min.js' %}"></script>
  <script src="{% static 'js/nv.d3.min.js' %}"></script>
  <script  src="{% static 'js/pptxjs.js' %}"></script> -->
  <!-- <script  src="{% static 'js/ppt2png.js' %}"></script> -->
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js'%}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js'%}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'js/contactform.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>



  <script>

           function init(){

               document.getElementById('upload').addEventListener('change', handleFileSelect, false);

  }

           function arrayToTable(tableData) {

               data =tableData;
               var table = $('<table></table>');
               for (i = 0; i < data.length; i = i + 1) {
                    row = $('<tr />');
               for (j = 0; j < data[i].length; j = j + 1) {
                    if (i === 0) {

                        row.append($('<th />').html(data[i][j]));
                     } else {
                        row.append($('<td />').html(data[i][j]));
                    }
                  }
                    table.append(row);
               }
               return table;
               }


           $(window).load(function(){
              debugger;

                $("#dbtn").attr("disabled", true);


           $("#Submit").click(function(){


               var table = document.querySelector('table'),
                   rows = table.getElementsByTagName('tr'),
                      i, j, cells, customerId,obj={}, myMap = new Map();
                    for (i = 0, j = rows.length; i < j; ++i) {
                        cells = rows[i].getElementsByTagName('td');
                        if (!cells.length) {
                            continue;
                         }

                          name = cells[0].innerHTML? cells[0].innerHTML.trim():"";
                          value = parseInt(cells[1].innerHTML ? cells[1].innerHTML.trim() : "");
                          myMap.set(name, value);
                      }

                         function mapToObj(map){
                             var obj = {}
                             map.forEach(function(v, k){
                               obj[k] = v
                            })
                          return obj
                         }

                            var myJson = {};
                            myJson= mapToObj(myMap);

                            myJson=JSON.stringify(myJson)
                            var res = document.getElementById('result');
                                      debugger;

                $.post('{{ model.endpoint }}',myJson).done(function(data){
                    debugger;
                    data = JSON.parse(data)
                        var tbody = document.getElementById("matchData");
                        var headerNames = Object.getOwnPropertyNames(data[0]);
                        var columnCount = headerNames.length;
//Add the header row.
                        var row = tbody.insertRow(-1);
                        for (var i = 0; i < columnCount; i++) {
                             var headerCell = document.createElement("TH");
                             headerCell.innerHTML = headerNames[i];
                            row.appendChild(headerCell);
                        }
// loop through data source
                        for (var i = 0; i < data.length; i++) {
                        var tr = document.createElement("tr");
                        for(var colName in data[i]) {
                           var td = document.createElement("td");
                           td.innerHTML = data[i][colName];
                           if(colName=="Location")
                               td.className = "centered";
                           tr.appendChild(td);
                        }
                        tbody.appendChild(tr);
                        }

                      // res.innerHTML = data;
               })

              });



               //
               // $('#table_data').on('click',"td",function(e){
               //    debugger;
               //    var OriginalContent = $(this).text();
               //    $(this).addClass("cellEditing");
               //    $(this).html("<input type='text' value='" + OriginalContent + "' />");
               //    $(this).children().first().focus();
               //    $(this).children().first().keypress(function (e) {
               //     if (e.which == 13) { var newContent = $(this).val();
               //         $(this).parent().text(newContent); $(this).parent().removeClass("cellEditing"); } });
               //         $(this).children().first().blur(function(){ $(this).parent().text(OriginalContent);
               //         $(this).parent().removeClass("cellEditing");
               //       });
               //     });


              $("#upload").bind("change", function(evt) {
                debugger;
                var bigFile = evt.target.files[0];
                var x = document.getElementById("upload").value;
                Papa.parse(bigFile, {
                    complete: function(results) {
                       debugger;
                       $('#table_data').html(arrayToTable(results.data));
                       $("#table_data").css("display", "block");
                       $("#Submit").css("display", "block");
                  }
                });
              });


              $('#cbtn').click(function () {
                debugger;
                      $("#cbtn").attr("disabled", true);
                      $("#dbtn").attr("disabled", false);
                var table = document.getElementById('table_data'),
                    rows = table.getElementsByTagName('td');
                    $.each(rows, function () {
                       $(this).prop('contenteditable', true)
                        $(this).keyup(function(e) {
                          debugger;
                          if($(this).text()=="")
                          alert("Values cannot be empty")
                          else
                          $(this).addClass("cellEditing");


                           });
                      });
                });


         $('#dbtn').click(function () {
           debugger;

             $("#dbtn").attr("disabled", true);
               $("#cbtn").attr("disabled", false);
               var table = document.getElementById('table_data'),
                  rows = table.getElementsByTagName('td');
                   $.each(rows, function () {
                      $(this).prop('contenteditable', false);
                    });
                $('#table_data td').each(function() {

                   if( $(this).hasClass("cellEditing") )
                        $(this).parent().addClass("highlight");

                     });
              })


  //
  //                      $(document).on('click', '.btn_cancel', function(event)
	// {
  //   debugger;
	// 	event.preventDefault();
  //
	// 	var tbl_row = $(this).closest('tr');
  //
	// 	var row_id = tbl_row.attr('row_id');
  //
	// 	//hide save and cacel buttons
	// 	tbl_row.find('.btn_save').hide();
	// 	tbl_row.find('.btn_cancel').hide();
  //
	// 	//show edit button
	// 	tbl_row.find('.btn_edit').show();
  //
	// 	//make the whole row editable
	// 	tbl_row.find('.row_data')
	// 	.attr('edit_type', 'click')
	// 	.removeClass('bg-warning')
	// 	.css('padding','')
  //
	// 	tbl_row.find('.row_data').each(function(index, val)
	// 	{
	// 		$(this).html( $(this).attr('original_entry') );
	// 	});
	// });
  //
  //
  // $(document).on('click', '.btn_edit', function(event)
  // 	{
  //     debugger;
  // 		event.preventDefault();
  // 		var tbl_row = $(this).closest('tr');
  //
  // 		var row_id = tbl_row.attr('row_id');
  //
  // 		tbl_row.find('.btn_save').show();
  // 		tbl_row.find('.btn_cancel').show();
  //
  // 		//hide edit button
  // 		tbl_row.find('.btn_edit').hide();
  //
  // 		//make the whole row editable
  // 		tbl_row.find('.row_data')
  // 		.attr('contenteditable', 'true')
  // 		.attr('edit_type', 'button')
  // 		.addClass('bg-warning')
  // 		.css('padding','3px')
  //
  // 		//--->add the original entry > start
  // 		tbl_row.find('.row_data').each(function(index, val)
  // 		{
  // 			//this will help in case user decided to click on cancel button
  // 			$(this).attr('original_entry', $(this).html());
  // 		});
  // 		//--->add the original entry > end
  //
  // 	});
  //
  //
  //   $(document).on('click', '.btn_save', function(event)
  //   	{
  //   		event.preventDefault();
  //   		var tbl_row = $(this).closest('tr');
  //
  //   		var row_id = tbl_row.attr('row_id');
  //
  //
  //   		//hide save and cacel buttons
  //   		tbl_row.find('.btn_save').hide();
  //   		tbl_row.find('.btn_cancel').hide();
  //
  //   		//show edit button
  //   		tbl_row.find('.btn_edit').show();
  //
  //
  //   		//make the whole row editable
  //   		tbl_row.find('.row_data')
  //   		.attr('edit_type', 'click')
  //   		.removeClass('bg-warning')
  //   		.css('padding','')
  //
  //   		//--->get row data > start
  //   		var arr = {};
  //   		tbl_row.find('.row_data').each(function(index, val)
  //   		{
  //   			var col_name = $(this).attr('col_name');
  //   			var col_val  =  $(this).html();
  //   			arr[col_name] = col_val;
  //   		});
  //     });

    //           $("#pptResult").pptxToHtml({
    //
    //             pptxFileUrl:'{{model.slide}}',
    //
    // });

//       var ppt2png = require('ppt2png');
//     ppt2png('{{model.slide}}', './output/img', function( err ){
//     if(err) {
//         console.log(err);
//     } else {
//         console.log('convert successful.');
//     }
// });



          });


           function handleFileSelect(event){
              debugger;
               const reader = new FileReader();
               reader.onload = handleFileLoad;
               // reader.readAsText(event.target.files[0]);
               // console.log("new"+event.target.files[0]);
            }

           function handleFileLoad(event){
               debugger;
               console.log(event);
               $("#upload").val("");
               var table_data='<table class="table table-bordered table-stripped" style="border:"1px solid black"; margin: "5px"; width: "290px"; border-collapse: separate; border-spacing: 4px;">';
               var data= event.target.result;
               }

               function openNav() {
               document.getElementById("sidebar").style.width = "350px";

               }

               function closeNav() {
               document.getElementById("sidebar").style.width = "0";

               }
  </script>

  </head>
   <body>
     <!--==========================
     Header
     ============================-->

     <header id="header" class="fixed-top ">
       <!-- <div class="container"> -->

         <div class="logo float-left ">

          <a href="#intro" class="scrollto"><img src="{% static 'images/logos.png'  %}"  alt="" class="img-fluid "></a>
         </div>
        <span style ="margin-bottom:0px"><h4 style ="margin-bottom:0px">
                 The digital innovation hub within Virtusa</h4></span>

         <nav class="main-nav  d-none d-lg-block " style="margin-left:168px;">
           <ul>
             <li
             <li
             {% if '/' == request.path %}
                 class= "nav-item active"
             {% else %}
                class= "nav-item "
             {% endif %}
                      >
               <a href ="{%url 'index'%}">Home</a></li>

             <li>
             <a href="#about">Our Practices</a></li>
             <li
             {% if '/services/' == request.path %}
                 class= "nav-item active"
             {% else %}
                class= "nav-item "
             {% endif %}

             >
             <a href="{%url 'services' %}">Solutions</a></li>
             <li><a href="#portfolio">Portfolio</a></li>

           </ul>
         </nav>




       <div class="wrapper">
          <div class="container-fluid ">
             <button type="button" id="sidebarCollapse" class="btn btn-dark float-right" onclick="openNav()">
                   <i class="fa fa-align-left"></i>
                       <span></span>
                           </button>
                            </div>

                   <div id="sidebar" class="sidebar">
                     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                     <div class="list-group panel">
                               {%  for item in mlist %}
                                     <!-- <a href="#">{{item.name}}</a> -->
                                  <a href="#menu{{item.id}}" class=" collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><span class="hidden-sm-down">{{item.name}}</span> </a>
                                       <div class="collapse " id="menu{{item.id}}" style="margin-left:33px">
                                          {%  for items in item.cats %}
                                            <a href="#menu1sub{{items.id}}" data-toggle="collapse" aria-expanded="false"> {{ items.name}}</a>
                                                      <div class="collapse" id="menu1sub{{items.id}}" style="margin-left:33px">
                                                           {%  for item_new in items.category.all %}
                                                                    <a href="{%url 'model'%}?model={{ item_new.name }}" data-parent="#menu1sub1{{items.id}}">{{ item_new.name}}</a>
                                                           {%endfor%}
                                                  <!-- <div class="collapse"> -->
                                            </div>
                                       {%endfor%}
                                        </div>
                                   {%endfor%}

                   </div>
                   </div>
   </div>

     </header>




<!-- https://virtusaonline-my.sharepoint.com/:p:/r/personal/dipsikhadg_virtusa_com/_layouts/15/Doc.aspx?sourcedoc=%7B0943DE6F-B6BB-4199-8616-3F157AAB6AB8%7D&file=Bankia_Social%20Media%20Analytics_v0.2.pptx&action=edit&mobileredirect=true -->
<!-- <iframe src='https://virtusaonline-my.sharepoint.com/:p:/r/personal/dipsikhadg_virtusa_com/_layouts/15/Doc.aspx?sourcedoc=%7B0943DE6F-B6BB-4199-8616-3F157AAB6AB8%7D&file=Bankia_Social%20Media%20Analytics_v0.2.pptx&action=edit&mobileredirect=true' </iframe> -->
<!-- <iframe src='https://view.officeapps.live.com/op/embed.aspx?src={{model.slide}}'width='962px' height='565px' frameborder='0'></iframe>
<iframe src="https://virtusaonline-my.sharepoint.com/personal/dipsikhadg_virtusa_com/_layouts/15/Doc.aspx?sourcedoc={0943de6f-b6bb-4199-8616-3f157aab6ab8}"</iframe> -->

  <div class="overlay d-flex align-items-center" style="background: url('{{ model.image.url }}') no-repeat; background-size: cover;">
      <section id="intro" class="clearfix" onload="init()">

              {% if model.slide %}
                <iframe src="{{model.slide}}" width="100%" height="700px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
                   {% else %}


                 <div class="intro-info">
                       <h1 class='title'>{{model.name}}</h1>
                     </div>


                        {%endif%}
                  </section>
   </div>
 <div id="filter">
   <div class="container-fluid">
     <div class="custom_breadcrumb">
     <nav>
       <ol class="breadcrumb">
       <li class="breadcrumb-item">
         <a href="{%url 'index'%}">Home</a>
       </li>
       <li class="breadcrumb-item">
         <a href={%url 'services'%}?cat={{category.id}}>{{category.name}}</a>
       </li>
       <li class="breadcrumb-item">
         <a>{{model.name}}</a>
       </li>
     </ol>
   </nav>
     </div>
   </div>
 </div>


    <section id="servicesNew" >
        <div class="container">
          <header class="section-header">
            <p>{{model.summary}}</p>
               <div class="title">Explore the capabilities of the Open Innovation Platform</div>
            <!-- <p>xLabs: The digital innovation hub within Virtusa.</p> -->
          </header>

        <div class="row">
          <div class="wow bounceInUp col-sm-6" data-wow-duration="1.4s">
            <div class="cta-box">
               <div class="cta form-group">
                  <h3>Uploaded CSV </h3>

              <div class=" span5" data-wow-duration="1.4s">
                <div id="table-scroll">
                    <table class="table table-fixed table-dark" id ="table_data">
                       <thead>
                                <th>Name</th>
                                <th>Value</th>
                                <!-- <th>Options</th> -->
                         </thead>
                         <tbody>
                              {% for i in model.inputs_csv %}
                                     <tr>
                                        <td>{{i.0}}</td>
                                        <td>{{ i.1 }}</td>
                                            <!-- <td>
                                            <button class="editbtn">Edit</button>
                                             <button class="btn_cancel">Cancel</button>
                                            <button class="btn_save">Save</button>
                                            </td> -->
                                    </tr>
                               {% endfor %}
                             </tbody>
                             </table>
                          </div>
                      </div>

               </div>
           </div>
         </div>
         <div class=" wow bounceInUp col-sm-6" data-wow-duration="1.4s">
           <!-- <h5>Result </h5>  <strong><h3 id='result' style='color:black;'></h3></strong> -->



              <div class="cta-box">
                 <div class="cta form-group">



                        <h3>Try A Demo </h3>



                      <div class=" span5" data-wow-duration="1.4s">
                       <div id="table-scroll">
                         <table id="cupFinals" border=1 px class="fixed">
                                   <tbody id="matchData"></tbody>
                            </table>


                      </div>
                </div>
                 </div>
                 </div>
             </div>




         </div>
         <div style="text-align:center">

                 <label class="custom-upload">
                     <span class="fa fa-eye"></span>
                      Upload new file
                       <input type ="file" id = "upload" name="inputfile" class="form-control">
                       </label>
                       <input type ="submit" class="btn btn-success  btn-md" id ="Submit" class="form-control">
                       <!-- <button type="button" class="btn btn-primary" id ="cbtn">Request a Demo</button> -->
                       <button type="button" class="btn btn-primary" id ="cbtn"><span class="fa fa-pencil"></span> Edit File</button>
                       <button type="button" class="btn btn-primary" id ="dbtn"><span class="fa fa-pencil"></span> Done</button>

         </div>



     </div>

  <div class="row">
    <div class="span12">
      <div class="blank10"></div>
    </div>
  </div>




        <!-- <div class="col-xs-4"   style= " margin-bottom: 12px;">
            <input type ="submit" class="btn btn-success  btn-md" id ="Submit" class="form-control">
                    <input type ="edit" class="btn btn-success btn-md editbtn" id ="edit" class="form-control">
        </div> -->
     </div>
</section>

     <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!--==========================
  Footer
============================-->
<footer id="colophons" class="site-footer vn-site-footer">
     <div class="contact-form ">
       <div class="container-fluid">
         <div class="row vn-row">
         <div class="col-lg-12">
             <div class="contain">
           <div class="footer-menu">
            <div class="vn-row footer-logo text-left">
          <div class="site-branding">
<p class="site-title"> <a href="https://corpweb.virtusa.com" rel="home">
<img src="https://mhgbtcuwzn-2-flywheel.netdna-ssl.com/wp-content/uploads/2019/08/virtusa-footer-logo.png" class="site-logo" alt="Virtusa Logo"> </a>
</p>
</div>
</div>
<div class="row vn-row" style="margin:0 !important;">
<div class="col-md-6 col-sm-6">
<ul class="soc">
<li><a class="soc-facebook" href="https://www.facebook.com/VirtusaCorp" target="_blank"> <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i> </a></li>
<li><a class="soc-twitter" href="https://twitter.com/VirtusaCorp" target="_blank"> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i> </a></li>
<li><a class="soc-linkedin" href="https://www.linkedin.com/companies/virtusa" target="_blank"> <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> </a></li>
<li><a class="soc-instagram" href="https://www.instagram.com/virtusacorp/" target="_blank"> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i> </a></li>
<li><a class="soc-youtube" href="https://www.youtube.com/user/VirtusaCorporation" target="_blank"> <i class="fa fa-youtube fa-2x" aria-hidden="true"></i> </a></li>
</ul></div>
<div class="col-md-3 hide-mob"></div>
<div class="col-md-3 col-sm-6">
<ul class="en privacy-links">
<li><a href="/corporate-citizenship-compliance/">Compliance</a>|</li>
<li><a href="/privacy-statement/">Privacy</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>
<!-- JavaScript Libraries -->

</body>
</html>
