<!DOCTYPE html>
<html lang="en">
<head>


  <meta charset="utf-8">
  <title>Home</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <script src="static/lib/PapaParse/papaparse.js"></script>
  <script src="static/lib/PapaParse/papaparse.min.js"></script>
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/jquery/jquery-migrate.min.js"></script>
  <meta content="" name="keywords">
  <meta content="" name="description">


  <!-- Favicons -->
  <link href="static/images/favicon.png" rel="icon">
  <link href="static/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="static/lib/bootstrap/css/bootstrap-responsive.css">


  <!-- Libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


   <!-- Main Stylesheet File -->
  <link rel="stylesheet" type="text/css" href="static/css/risk_quantifi.css">
  <script>

           function init(){
               document.getElementById('upload').addEventListener('change', handleFileSelect, false);
              }

           function arrayToTable(tableData) {
             debugger;
               data =tableData;
               var table = $('<table></table>');
               for (i = 0; i < data.length; i = i + 1) {
                    row = $('<tr />');
               for (j = 0; j < data[i].length; j = j + 1) {
                    if (i === 0) {
                        row.append($('<th />').html(data[i][j]));
                     } else {
                        row.append($('<td />').html(data[i][j]));
                    }
                  }
                    table.append(row);
               }
               return table;
      // document.getElementById('container').innerHTML = html;
      //
           // var table = $('<table></table>');
           // $(tableData).each(function (i, rowData) {
           //     var row = $('<tr></tr>');
           //     $(rowData).each(function (j, cellData) {
           //         row.append($('<td>'+cellData+'</td>'));
           //     });
           //     table.append(row);
           // });
           // return table;
               }


           $(window).load(function(){
              debugger;
               var table_data;
               $("#table-wrapper").css("display", "none");
               $("#table-scroll").css("display", "none");
               $("#table_data").css("display", "none");
               $("#Submit").css("display", "none");

            $.ajax({
                 url:"/background_process_test",
                 type:"POST",
                 success:function(resp){
                   debugger;
                   table_data=resp;

               }
                 });

           /*Onload file upload*/
            $("#loadData").click(function(){
              debugger;
                $('#table_data').html(table_data);
                $("#table_data").css("display", "block");
                $("#Submit").css("display", "block");

             });

           $("#Submit").click(function(){

               var results = {
                    data: []
               };
               var table = document.querySelector('table'),
               rows = table.getElementsByTagName('tr'),
               i, j, cells, customerId,obj={}, myMap = new Map();

               for (i = 0, j = rows.length; i < j; ++i) {
                   cells = rows[i].getElementsByTagName('td');

                     if (!cells.length) {
                        continue;
                      }

                      name = cells[0].innerHTML? cells[0].innerHTML:"";
                      value= cells[1] ? cells[1].innerHTML : "";
                        myMap.set([name], [value]);

                       }

                       function mapToObj(map){
                                        var obj = {}
                                        map.forEach(function(v, k){
                                        obj[k] = v
                        })
                        return obj
                      }
                         var myJson = {};
                         myJson= mapToObj(myMap);
                         myJson=JSON.stringify(myJson)
                         debugger;
              //FOR testing Purpose//
//               var myMap = new Map();
//                var inparr = [2, 30, 1, 7, 114, 1, 2, 1, 1, 2, 9, 3, 30, 0, 8, 1, 2, 1, 1, 1, 1, 4, 2, 2, 2, 2, 2, 3, 2, 3, 1, 3, 10, 6, 45, 45, 1, 1, 1, 3, 2, 1, 3, 2, 0, 1, 1, 1, 1, 1, 1, 2, 1, 3, 2];
//                for(var i=0;i<inparr.length;i++){
//                       name = i;
//                       value = inparr[i];
//                       myMap.set([name], value);
//                   }
//
//                   function mapToObj(map){
//                   var obj = {}
//                   map.forEach(function(v, k){
//                   obj[k] = v
//   })
//   return obj
// }
//    var myJson = {};
//    myJson= mapToObj(myMap);
//  // var json = JSON.stringify(myJson);
//
//               $.post('http://localhost:5000/Risk_Quantification',results).done(function(data){
//               res.innerHTML = data;
//             })
              //TO be deleted//

              data = JSON.parse(JSON.stringify(myJson))
              var a= JSON.stringify(myJson)
              $.ajax({
                  url:"http://127.0.0.1:5000/Risk_Quantification",
                  type:"POST",
                  data:JSON.stringify(results),
                  contentType: 'application/json;charset=UTF-8',
                  success:function(resp){
                  debugger;
                   table_data=resp;

                     }
                  });
              });


               $('#table_data').on('click',"td",function(e){
                  debugger;
                  var OriginalContent = $(this).text();
                  $(this).addClass("cellEditing");
                  $(this).html("<input type='text' value='" + OriginalContent + "' />");
                  $(this).children().first().focus();
                  $(this).children().first().keypress(function (e) {
                   if (e.which == 13) { var newContent = $(this).val();
                       $(this).parent().text(newContent); $(this).parent().removeClass("cellEditing"); } });
                       $(this).children().first().blur(function(){ $(this).parent().text(OriginalContent);
                       $(this).parent().removeClass("cellEditing");
                     });
                   });


              $("#upload").bind("change", function(evt) {
                debugger;
                var bigFile = evt.target.files[0];
                var x = document.getElementById("upload").value;
                Papa.parse(bigFile, {
                    complete: function(results) {
                       debugger;
                       $('#table_data').html(arrayToTable(results.data));
                       $("#table_data").css("display", "block");
                       $("#Submit").css("display", "block");
                  }
                });
              });
          });


           function handleFileSelect(event){
              debugger;
               const reader = new FileReader();
               reader.onload = handleFileLoad;
               // reader.readAsText(event.target.files[0]);
               // console.log("new"+event.target.files[0]);
            }

           function handleFileLoad(event){
               debugger;
               console.log(event);
               $("#upload").val("");
               var table_data='<table class="table table-bordered table-stripped" style="border:"1px solid black"; margin: "5px"; width: "290px"; border-collapse: separate; border-spacing: 4px;">';
               var data= event.target.result;
               }
  </script>

  </head>
   <body>
  <header id="header" class="fixed-top ">
    <div class="container">

      <div class="logo float-left ">

       <a href="#intro" class="scrollto"><img src="static/images/logo.png"  alt="" class="img-fluid "></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block ">
        <ul>
          <li ><a href="{% url 'index'%}">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>

        </ul>
      </nav>

    </div>
  </header>

  <section id="intro" onload="init()">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h2><strong>Health Risk <span class="highlight primary">Quantification</span></strong></h2>
          <p class="lead">
            Lorem ipsum dolor sit amet, qui corpora oportere cu. Usu et iudico maluisset, pro ut lobortis vituperatoribus, percipit aliquando efficiendi est ex.
          </p>
          <ul class="list list-ok strong bigger">
            <li> Lorem ipsum dolor sit amet, qui corpora oportere cu</li>
            <li> Lorem ipsum dolor sit amet, qui corpora oportere cu</li>
            <li> Lorem ipsum dolor sit amet, qui corpora oportere cu</li>
          </ul>

          </div>
        </div>
      </div>

  </section>

  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span5">
          <div class="features">
            <div class="icon">
              <i class="icon-bg-light icon-circled fa fa-flag icon-box wow fadeInDown icon-5x"></i>
            </div>
            <div class="features_content">
              <h3>Challenge</h3>
              <p class="left">
                Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium imperdiet in pri mel virtute nam.
              </p>
                <a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"><i class="icon-angle-right"></i> Read more</a>
                <!-- Modal -->
                   <div class="modal fade" id="myModal" role="dialog">
                     <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Challenge</h4>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the modal.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                  </div>
               </div>
               <!--modal-->
            </div>
          </div>
        </div>
        <div class="span5">
          <div class="features">
            <div class="icon">
              <i class="icon-bg-light icon-circled fa fa-tasks icon-box wow fadeInDown icon-5x"></i>
            </div>
            <div class="features_content">
              <h3>Approach</h3>
              <p class="left">
                Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium imperdiet in pri mel virtute nam.
              </p>
                <a href="#" class="btn btn-info  btn-sm" data-toggle="modal" data-target="#myModalApproach"><i class="icon-angle-right"></i> Read more</a>
                 <!-- Modal -->
                <div class="modal fade" id="myModalApproach" role="dialog">
                  <div class="modal-dialog">
                   <div class="modal-content">
                     <div class="modal-header">
                         <h4 class="modal-title">Approach</h4>
                     </div>
                     <div class="modal-body">
                         <p>Some text in the modal.</p>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-danger btn-sm " data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>
            </div>
          </div>
        </div>


      </div>



      <div class="row">
        <div class="span12">
          <div class="blank10"></div>
        </div>
      </div>


    </div>
    </section>

    <section id="servicesNew" >
        <div class="container">
        <div class="row">
          <div class="wow bounceInUp col-sm-6" data-wow-duration="1.4s">
            <div class="cta-box">
               <div class="cta form-group">
                 <div class="span2">
                  <label class="custom-upload">
                    <span class="fa fa-eye"></span>
                      Upload file here
                      <input type ="file" id = "upload" name="inputfile" class="form-control">
                  </label>
                  </div>
                  <div class="span2">
                     <label class="custom-upload">
                     <span class="fa fa-database"></span>
                      Load Data here
                       <input type ="button" class="btn btn-color btn-rounded  btn-sm" id ="loadData" class="form-control">
                    </label>
                 </div>
               </div>
           </div>
         </div>
          <div class=" wow bounceInUp col-sm-6" data-wow-duration="1.4s">
             <div id="table-wrapper ">
              <!-- <div id="table-scroll"> -->
              <div class="table-responsive table-responsive-md scrollit"  style="overflow-x:auto;" id ="table_data">
            </div>
          </div>
       </div>
     </div>

  <div class="row">
    <div class="span12">
      <div class="blank10"></div>
    </div>
  </div>
        <div class="col-xs-4"   style= " margin-bottom: 12px;">
            <input type ="submit" class="btn btn-success  btn-md" id ="Submit" class="form-control">
        </div
     </div>
</section>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!--==========================
  Footer
============================-->
<footer id="footer">


  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>VirtusaCorp</strong>. All Rights Reserved
    </div>
    <div class="credits">

      Designed by <a href="https://www.virtusa.com">xLabs</a>
    </div>
  </div>
</footer><!-- #footer -->
<!-- JavaScript Libraries -->
<script src="static/lib/jquery/jquery.min.js"></script>
<script src="static/lib/jquery/jquery-migrate.min.js"></script>
<script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/lib/easing/easing.min.js"></script>
<script src="static/lib/mobile-nav/mobile-nav.js"></script>
<script src="static/lib/wow/wow.min.js"></script>
<script src="static/lib/waypoints/waypoints.min.js"></script>
<script src="static/lib/counterup/counterup.min.js"></script>
<script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="static/lib/isotope/isotope.pkgd.min.js"></script>
<script src="static/lib/lightbox/js/lightbox.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="static/js/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/static/js/main.js"></script>

</body>
</html>
